<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" 
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <scripting-invalid>true</scripting-invalid>
        </jsp-property-group>
    </jsp-config>
    <context-param>
        <param-name>custServEmail</param-name>
        <param-value>custserv@murach_ex8.com</param-value>
    </context-param>

    <welcome-file-list>
        <welcome-file>homework.html</welcome-file>
        <welcome-file>homework.jsp</welcome-file>
        <welcome-file>loadProducts</welcome-file>
    </welcome-file-list>

</web-app>
