<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" 
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

<!--    <servlet>-->
<!--        <servlet-name>DownloadServlet</servlet-name>-->
<!--        <servlet-class>murach_ex7.download.DownloadServlet</servlet-class>-->
<!--    </servlet>-->

<!--    <servlet-mapping>-->
<!--        <servlet-name>DownloadServlet</servlet-name>-->
<!--        <url-pattern>/download</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>CartServlet</servlet-name>-->
<!--        <servlet-class>murach_ex7.cart.CartServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>CartServlet</servlet-name>-->
<!--        <url-pattern>/cart</url-pattern>-->
<!--    </servlet-mapping>-->

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

<!--    bt 8-->
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <scripting-invalid>true</scripting-invalid>
        </jsp-property-group>
    </jsp-config>
    <context-param>
        <param-name>custServEmail</param-name>
        <param-value>custserv@murach_ex8.com</param-value>
    </context-param>
<!--    <servlet>-->
<!--        <servlet-name>EmailListServlet</servlet-name>-->
<!--        <servlet-class>murach_ex8.email.EmailListServlet</servlet-class>-->
<!--    </servlet>-->

<!--    <servlet-mapping>-->
<!--        <servlet-name>EmailListServlet</servlet-name>-->
<!--        <url-pattern>/emailList_ex8</url-pattern>-->
<!--    </servlet-mapping>-->

    <welcome-file-list>
        <welcome-file>index_56.html</welcome-file>
        <welcome-file>index_56.jsp</welcome-file>
    </welcome-file-list>

<!--    <error-page>-->
<!--        <error-code>404</error-code>-->
<!--        <location>/view_ex56/error.jsp</location>-->
<!--    </error-page>-->

</web-app>
